{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<h1>Blog</h1>
<p>Here lies something that I want to write. 
    <br> Usually my thought, and book review</p>
<div class="row">
    {% for post in posts %}
    <div class="col-md-4">
        <img class="card-img-top" src= "{% static post.image %}">
        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
            {% endfor %}
        </small>
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <a href="{% url 'blog_detail' post.pk %}"
            class="btn btn-primary">Read More</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}